@import "./variables";

* {
    font-family: $font-type;
}

body {
    @include defineSize(100%, 100vh, 0, 0);
}

.navbar {
    @include defineSize(90%, 12.5vh, auto auto, 0);
    @include gridDisplay(25% 50% 25%, 100%, center, center);

    .logo {
        width: 100%;
        @include flexDisplay(row, flex-start, center);
        img {
            height: 5em;
            border-radius: 50%;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .nav-items {
        @include flexDisplay(row, center, center);

        .nav-link {
            @include flexDisplay(column, center, center);
            margin: 0 1.5em;

            &:hover {
                a,
                i {
                    color: $secondary-color;
                }

                opacity: 0.85;
                cursor: pointer;
            }

            a {
                font-size: 0.98em;
                text-decoration: none;
                color: $tertiary-color;
                font-weight: map-get($map: $font-weights, $key: medium);
            }

            i {
                color: $tertiary-color;
                margin-bottom: 0.3em;
            }
        }
    }
    .nav-btns {
        @include flexDisplay(row, flex-end, center);
        width: 100%;

        a:first-of-type{
            margin-right: 2.5em;
            font-size: 1.1em
        }

        a {
            @include defineSize(auto, auto, 0 1em, 0.75em 0);
            @include buttonDesign(white, $secondary-color, none, 0.25em);
            font-size: 0.98em;
            font-weight: map-get($map: $font-weights, $key: bold);
            outline: none;
            text-decoration: none;
        }
    }
}

.login-btn {
    i {
        transform: rotateX(360deg);
    }
}

/*mid-section*/
.mid-section {
    @include defineSize(90%, auto, 2.5em auto, 1.5em 0);
    @include flexDisplay(row, flex-start, center);

    button {
        @include defineSize(auto, auto, 0 0.75em, 0.75em 1.5em);
        @include buttonDesign(white, $secondary-color, 0.2em solid $secondary-color, 1.5em);
        @include flexDisplay(row, center, center);
        font-size: 1em;
        font-weight: map-get($map: $font-weights, $key: bold);

        i {
            margin-right: 0.5em;
        }
    }

    .active-button {
        @include buttonDesign($primary-color, white, none, 1.5em);
        font-size: 1em;
    }
}

/*bottom container*/
.bottom-section {
    @include defineSize(90%, 65vh, 0.5em auto, 0);
    overflow-y: scroll;
    box-shadow: 0.1em 0.1em 0.5em grey;
    border-radius: 0.75em;
    position: relative;

    .users-section,
    .video-section,
    .images-section,
    .video-section,
    .fixture-section,
    .category-section,
    .news-section,
    .live-section {
        @include defineSize(100%, 100%, 0, 0 1.5em);
        @include positionElement(absolute, 0, 0, 0, 0);
        overflow-x: hidden;
        overflow-y: hidden;
        display: none;

        .top-section {
            @include defineSize(100%, 10%, 0, 0);
            @include flexDisplay(row, space-between, center);
            .filter-section {
                @include flexDisplay(row, center, center);

                p,
                i {
                    color: grey;
                    font-weight: map-get($map: $font-weights, $key: bold);
                    margin: 0 0.5em 0 0;
                }

                select {
                    @include defineSize(10em, 2.75em, 0.75em 0, 0 0.5em);
                    border: 0.1em solid rgb(213, 213, 213);
                    border-radius: 0.25em;
                    font-size: 1em;
                    background-color: $input-background;
                    outline: none;
                }
            }

            button {
                @include defineSize(auto, auto, 0 0.75em, 0.75em 1.5em);
                @include buttonDesign(white, $primary-color, 0.2em solid $primary-color, 1.5em);
                @include flexDisplay(row, center, center);
                font-size: 0.98em;
                font-weight: map-get($map: $font-weights, $key: bold);

                i {
                    margin-right: 0.5em;
                    color: $primary-color;
                }
            }
        }

        .table-section {
            @include defineSize(100%, 80%, 0.5em 0, 1.75em 0);
            @include flexDisplay(row, center, center);
            overflow-y: scroll;

            table {
                width: 70em;
                min-width: 25em;
                border-collapse: collapse;
                box-shadow: 0.1em 0.1em 0.5em grey;
                border-radius: 0.25em;
                overflow: hidden;
                font-size: 0.9em;

                table,
                th,
                td {
                    text-align: left;
                    padding: 0.95em;
                }

                th {
                    background-color: $tertiary-color;
                    color: white;
                }

                tr td {
                    font-weight: 500;
                }

                tr:nth-of-type(odd) {
                    background-color: #eeeeee;
                }

                td:last-of-type {
                    display: flex;
                    justify-content: space-between;

                    #block-btn,
                    #delete-btn {
                        text-decoration: none;
                        color: white;
                        padding: 0.75em 1.5em;
                        border: none;
                        border-radius: 0.25em;
                    }

                    #block-btn {
                        background-color: $tertiary-color;
                    }
                    #delete-btn {
                        background-color: red;
                    }
                }
            }
        }

        .fixture-card-section {
            @include defineSize(100%, 80%, auto, 1.5em 0);
            @include gridDisplay(
                repeat(auto-fit, minmax(18em, 1fr)),
                repeat(auto-fit, minmax(10em, 1fr)),
                center,
                center
            );
            column-gap: 0.5em;
            row-gap: 0.5em;
            overflow-y: scroll;

            .fixture-card {
                @include defineSize(18em, 10em, 0, 0);
                @include flexDisplay(column, space-between, center);
                border-radius: 0.25em;
                overflow: hidden;
                box-shadow: 0.1em 0.1em 0.75em #e2e2e2, -0.1em -0.1em 0.75em #e2e2e2;

                .card-header {
                    @include defineSize(100%, 65%, 0, 0);
                    @include flexDisplay(column, center, center);
                    h4,
                    p {
                        margin: 0.1em 0;
                        font-size: 1.1em;
                    }

                    p {
                        color: grey;
                        font-size: 0.9em;
                    }
                }

                .card-footer {
                    @include defineSize(100%, 25%, 0, 0);
                    @include flexDisplay(row, center, center);
                    background-color: $tertiary-color;

                    a {
                        font-size: 0.85em;
                        @include defineSize(auto, auto, 0.5em, 0.25em 0.4em);
                        text-decoration: none;
                        color: black;
                        background-color: white;
                        @include buttonDesign(white, black, none, 50%);
                    }

                    a:nth-of-type(even) {
                        color: red;
                    }
                }
            }
        }

        .category-card-section {
            @include defineSize(100%, 80%, auto, 1.5em 0);
            @include gridDisplay(
                repeat(auto-fit, minmax(18em, 1fr)),
                repeat(auto-fit, minmax(10em, 1fr)),
                center,
                center
            );
            column-gap: 0.5em;
            row-gap: 0.5em;
            overflow-y: scroll;

            .category-card {
                @include defineSize(18em, 10em, 0, 0);
                @include flexDisplay(column, space-between, center);
                border-radius: 0.25em;
                overflow: hidden;
                box-shadow: 0.1em 0.1em 0.75em #e2e2e2, -0.1em -0.1em 0.75em #e2e2e2;

                .card-header {
                    @include defineSize(100%, 65%, 0, 0);
                    @include flexDisplay(column, center, center);
                    h4,
                    p {
                        margin: 0.1em 0;
                        font-size: 1.1em;
                    }

                    p {
                        color: grey;
                        font-size: 0.9em;
                    }
                }

                .card-footer {
                    @include defineSize(100%, 25%, 0, 0);
                    @include flexDisplay(row, center, center);
                    background-color: $tertiary-color;

                    a {
                        font-size: 0.85em;
                        @include defineSize(auto, auto, 0.5em, 0.25em 0.4em);
                        text-decoration: none;
                        color: black;
                        background-color: white;
                        @include buttonDesign(white, black, none, 50%);
                    }

                    a:nth-of-type(even) {
                        color: red;
                    }
                }
            }
        }

        .news-card-section {
            @include defineSize(100%, 80%, auto, 1.5em 0);
            @include gridDisplay(
                repeat(auto-fit, minmax(16em, 1fr)),
                repeat(auto-fit, minmax(26em, 1fr)),
                center,
                center
            );
            column-gap: 0.5em;
            row-gap: 0.5em;
            overflow-y: scroll;

            .news-card {
                @include defineSize(20em, 15em, 0, 0);
                @include flexDisplay(column, space-between, flex-start);
                border-radius: 0.25em;
                overflow: hidden;
                box-shadow: 0.1em 0.1em 0.75em #e2e2e2, -0.1em -0.1em 0.75em #e2e2e2;
                img {
                    width: 100%;
                    height: 80%;
                }

                .card-header {
                    @include defineSize(100%, 80%, 0, 0);
                    @include flexDisplay(column, flex-start, flex-start);
                    h4,
                    p {
                        margin: 0.1em 0;
                        font-size: 1.1em;
                    }

                    p {
                        color: grey;
                        font-size: 0.9em;
                    }
                }

                .card-footer {
                    @include defineSize(100%, 15%, 0, 0);
                    @include flexDisplay(row, center, center);
                    background-color: $tertiary-color;

                    a {
                        font-size: 0.85em;
                        @include defineSize(auto, auto, 0.5em, 0.25em 0.4em);
                        text-decoration: none;
                        color: black;
                        background-color: white;
                        @include buttonDesign(white, black, none, 50%);
                    }

                    a:nth-of-type(even) {
                        color: red;
                    }
                }
            }
        }

        /*------live card section---------*/
        .live-card-section {
            @include defineSize(100%, 80%, auto, 1.5em 0);
            @include gridDisplay(
                repeat(auto-fit, minmax(20em, 1fr)),
                repeat(auto-fit, minmax(15em, 1fr)),
                center,
                center
            );
            column-gap: 0.5em;
            row-gap: 0.5em;
            overflow-y: scroll;

            .live-card {
                @include defineSize(18em, 10em, 0, 0);
                @include flexDisplay(column, space-between, center);
                border-radius: 0.25em;
                overflow: hidden;
                box-shadow: 0.1em 0.1em 0.75em #e2e2e2, -0.1em -0.1em 0.75em #e2e2e2;

                .card-header {
                    @include defineSize(100%, 65%, 0, 0);
                    @include flexDisplay(column, center, center);
                    h4,
                    p {
                        margin: 0.1em 0;
                        font-size: 1.1em;
                    }

                    p {
                        color: grey;
                        font-size: 0.9em;
                    }
                }

                .card-footer {
                    @include defineSize(100%, 25%, 0, .25em 0);
                    @include flexDisplay(row, center, center);
                    background-color: $tertiary-color;

                    a {
                        font-size: 0.85em;
                        @include defineSize(auto, auto, 0.5em, 0.25em 0.4em);
                        text-decoration: none;
                        color: black;
                        background-color: white;
                        @include buttonDesign(white, black, none, 50%);
                    }

                    a:nth-of-type(even) {
                        color: red;
                    }
                }
            }
        }

        .image-card-section {
            @include defineSize(100%, 80%, auto, 1.5em 0);
            @include gridDisplay(
                repeat(auto-fit, minmax(20em, 1fr)),
                repeat(auto-fit, minmax(15em, 1fr)),
                center,
                center
            );
            column-gap: 0.5em;
            row-gap: 0.5em;
            overflow-y: scroll;

            .image-card {
                @include defineSize(20em, 15em, 0, 0);
                @include flexDisplay(column, space-between, center);
                border-radius: 0.25em;
                overflow: hidden;
                box-shadow: 0.1em 0.1em 0.75em #e2e2e2, -0.1em -0.1em 0.75em #e2e2e2;

                img {
                    width: 100%;
                    height: 40%;
                }

                .card-header {
                    @include defineSize(100%, 75%, 0, 0);
                    @include flexDisplay(column, center, center);
                    img {
                        height: 90%;
                    }
                    h4,
                    p {
                        margin: 0.1em 0;
                        font-size: 1.1em;
                    }

                    p {
                        color: grey;
                        font-size: 0.9em;
                    }
                }

                .card-footer {
                    @include defineSize(100%, 15%, 0, 0);
                    @include flexDisplay(row, center, center);
                    background-color: $tertiary-color;

                    a {
                        font-size: 0.85em;
                        @include defineSize(auto, auto, 0.5em, 0.25em 0.4em);
                        text-decoration: none;
                        color: black;
                        background-color: white;
                        @include buttonDesign(white, black, none, 50%);
                    }

                    a:nth-of-type(even) {
                        color: red;
                    }
                }
            }
        }

        .video-card-section {
            @include defineSize(100%, 80%, auto, 1.5em 0);
            @include gridDisplay(
                repeat(auto-fit, minmax(18em, 1fr)),
                repeat(auto-fit, minmax(18em, 1fr)),
                center,
                center
            );
            column-gap: 0.75em;
            row-gap: 0.5em;
            overflow-y: scroll;

            .video-card {
                @include defineSize(18em, 18em, 0, 0);
                @include flexDisplay(column, flex-start, center);
                border-radius: 0.25em;
                overflow: hidden;
                box-shadow: 0.1em 0.1em 0.75em #e2e2e2, -0.1em -0.1em 0.75em #e2e2e2;

                .card-header {
                    @include defineSize(100%, 85%, 0, 0);
                    @include flexDisplay(column, flex-start, center);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    h4 {
                        font-size: 0.9em;
                        font-weight: light;
                        margin: 0.15em 0 0 0;
                    }
                }

                .card-footer {
                    @include defineSize(100%, 15%, 0, 0);
                    @include flexDisplay(row, center, center);
                    background-color: $tertiary-color;

                    a {
                        font-size: 0.85em;
                        @include defineSize(auto, auto, 0.5em, 0.25em 0.4em);
                        text-decoration: none;
                        color: black;
                        background-color: white;
                        @include buttonDesign(white, black, none, 50%);
                    }

                    a:nth-of-type(even) {
                        color: red;
                    }
                }
            }
        }
    }

    /*active section*/
    .active-section {
        display: block;
        @include flexDisplay(column, space-between, space-between);
        z-index: 2;
    }

    input[type="search"] {
        @include defineSize(25em, 2.75em, 0.75em 0, 0 1.75em);
        border: 0.1em solid rgb(213, 213, 213);
        border-radius: 1.75em;
        font-size: 1em;
        background-color: $input-background;
        outline: none;
    }
}

.add-image-modal,
.add-video-modal,
.add-category-modal,
.add-fixture-modal,
.add-news-modal,
.add-live-modal {
    display: none;
}

.modal-active {
    @include positionElement(absolute, 0, 0, 0, 0);
    @include defineSize(100%, 100vh, 0, 0);
    @include flexDisplay(row, center, center);
    background: fixed;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 5;

    form {
        position: relative;
        background-color: white;
        padding: 5em;
        border-radius: 0.75em;
        backdrop-filter: 10px;
        -webkit-backdrop-filter: 10px;
        @include flexDisplay(column, center, flex-start);

        h3 {
            color: $secondary-color;
            margin: 0;
        }

        input[type="text"],
        input[type="date"],
        input[type="time"] {
            @include defineSize(25em, 2.75em, 0.75em 0, 0 0.75em);
            border: 0.1em solid rgb(213, 213, 213);
            border-radius: 0.35em;
            font-size: 1em;
            background-color: $input-background;
            outline: none;
        }

        textarea {
            padding: 0.75em;
            background-color: $input-background;
            border: 0.1em solid rgb(213, 213, 213);
            outline: none;
            border-radius: 0.35em;
            font-size: 1em;
        }

        input[type="file"]::file-selector-button {
            @include defineSize(auto, auto, 0.75em 0, 0.5em 1.25em);
            cursor: pointer;
            margin-right: 0.5em;
            @include buttonDesign(
                $input-background,
                rgba(0, 0, 0, 0.55),
                0.1em solid rgba(128, 128, 128, 0.481),
                0.35em
            );
            font-size: 1.1em;
            font-weight: bolder;
            outline: none;
        }

        button {
            @include defineSize(auto, auto, 0.75em 0, 0.5em 2em);
            cursor: pointer;
            margin-right: 0.5em;
            @include buttonDesign($secondary-color, white, none, 0.35em);
            font-size: 1.1em;
            outline: none;
        }

        .close-btn {
            cursor: pointer;
            color: red;
            font-size: 2.15em;
            @include positionElement(absolute, 92%, 2.5%, 0, 0);
        }
    }
}
