@import "./variables";

* {
    font-family: $font-type;
}

body {
    @include defineSize(100%, 100vh, 0, 0);
}

.navbar {
    @include defineSize(90%, 12.5vh, auto auto, 0);
    @include gridDisplay(25% 50% 25%, 100%, center, center);

    .logo {
        width: 100%;
        @include flexDisplay(row, flex-start, center);
        img {
            height: 5em;
            border-radius: 50%;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .nav-items {
        @include flexDisplay(row, center, center);

        .nav-link {
            @include flexDisplay(column, center, center);
            margin: 0 1.5em;

            &:hover {
                a,
                i {
                    color: $secondary-color;
                }

                opacity: 0.85;
                cursor: pointer;
            }

            a {
                font-size: 0.98em;
                text-decoration: none;
                color: $tertiary-color;
                font-weight: map-get($map: $font-weights, $key: medium);
            }

            i {
                color: $tertiary-color;
                margin-bottom: 0.3em;
            }
        }
    }
    .nav-btns {
        @include flexDisplay(row, flex-end, center);
        width: 100%;

        button {
            @include defineSize(auto, auto, 0 1em, 0.75em 0);
            @include buttonDesign(white, $secondary-color, none, 0.25em);
            font-size: 0.98em;
            font-weight: map-get($map: $font-weights, $key: bold);
            outline: none;
        }
    }
}

.login-btn {
    i {
        transform: rotateX(360deg);
    }
}

.side-bar {
    @include defineSize(100%, auto, 2.5em 0, 0.5em 0);
    @include flexDisplay(row, center, center);

    .user-icon,
    .content-icon {
        text-decoration: none;
        @include flexDisplay(row, center, center);
        margin: 0 3.75em;
        padding: 0 2.75em;
        color: $primary-color;
        font-size: 1.25em;
        cursor: pointer;
        font-weight: map-get($map: $font-weights, $key: bold);
        position: relative;
        transition: after 1.25s;

        i {
            margin: 0 0.5em;
        }
    }

    .user-icon-active,
    .content-icon-active {
        background: $secondary-color;
        padding: 0.5em;
        border-radius: 0.15em;
        color: white;
    }
}

.bottom-container {
    width: 100%;
    height: 73.5vh;
    overflow: hidden;
    position: relative;

    .users-container,
    .content-container {
        @include defineSize(100%, 100%, 0, 0.75em);
        @include positionElement(absolute, 0, 0, 0, 0);
        display: none;
    }

    .user-info {
        @include defineSize(100%, auto, 0, 0);
        h3 {
            text-align: center;
            color: white;
            font-size: 1.35em;
        }
    }

    .information {
        @include flexDisplay(row, center, center);

        p {
            margin: 0 0.75em 0 0;
            color: white;
            padding: 0.5em;
            border-radius: 0.15em;
            font-weight: map-get($map: $font-weights, $key: bold);
        }
        p:nth-child(1) {
            background-color: white;
            color: $tertiary-color;
        }

        p:nth-child(2) {
            background-color: red;
            color: $font-color;
        }
        p:nth-child(3) {
            background-color: green;
            color: $font-color;
        }
    }

    .users-active {
        display: block;
        background: rgb(210, 210, 210);
    }

    .content-active {
        display: block;
        background: white;
        @include flexDisplay(row, center, center);
    }

    .content-container {
        .add-btn {
            @include positionElement(absolute, 95%, 5%, 0, 0);
            box-sizing: border-box;
            @include defineSize(4.5em, 4.5em, 0, 0);
            @include buttonDesign(white, $primary-color, none, 50%);
            box-shadow: 0.1em 0.1em 1.5em rgb(99, 96, 96);
            font-weight: map-get($map: $font-weights, $key: bold);

            i {
                font-size: xx-large;
                font-weight: map-get($map: $font-weights, $key: bold);
            }
        }

        .card {
            @include defineSize(15em, 15em, 0 2.75em, 1.5em);
            cursor: pointer;
            background-color: $primary-color;
            border-radius: 1.25em;
            @include flexDisplay(column, space-around, center);
            transition: transform 1.5s;
            box-shadow: 0.15em 0.15em 1.75em rgb(179, 179, 179);

            i {
                font-size: 3.5em;
                color: $font-color;
                transition: transform 0.95s;
            }

            &:hover {
                transform: scale(0.95);
                opacity: 0.9;

                i {
                    transform: scale(1.15);
                }
            }
        }
    }
}

.modal {
    display: none;
    @include defineSize(100%, 100vh, 0, 0);
    @include positionElement(absolute, 0, 0, 0, 0);
    background-color: rgba(48, 48, 48, 0.89);
    transition: display 0.88s;

    form {
        background: $font-color;
        @include flexDisplay(column, center, flex-start);
        @include defineSize(auto, 45%, 0, 2.5em);
        border-radius: 1.15em;

        input:not(input[type="file"]),
        select {
            margin: 0.75em 0;
            @include defineSize(25em, 2.5em, 0.75em 0, 0.15em);
            font-size: 1.15em;
            outline: none;
            border-radius: 0.25em;
            border: 0.1em solid grey;
        }
    }

    i {
        @include positionElement(absolute, 96%, 5%, 15%, 0);
        font-size: 2.5em;
        color: $font-color;
        cursor: pointer;
    }
}

.modal-active {
    @include flexDisplay(row, center, center);
}

.content-modal {
    @include defineSize(100%, 100vh, 0, 0);
    @include positionElement(absolute, 0, 0, 0, 0);
    background-color: $primary-color;
    z-index: 7;

    i {
        @include positionElement(absolute, 96%, 5%, 15%, 0);
        font-size: 2.5em;
        color: $font-color;
        cursor: pointer;
    }

    h3 {
        text-align: center;
        color: $font-color;
    }
}

.content-modal {
    display: none;
    table {
        @include defineSize(auto, auto, 0 2em, 0);
        overflow: scroll;

        th {
            color: $font-color;
            margin: 2.75em 0;
        }

        th,
        td {
            text-align: left;
        }

        tr {
            margin: 0.25em;
            border: none;
            border-radius: 0.25em;

            td {
                .fixture-card {
                    width: 15em;
                    height: 5em;
                    background: white;
                    border-radius: 1.15em;
                    padding: .5em;
                }
            }
        } 
    }
}
