@import "./variables";

* {
    font-family: $font-type;
}

body {
    @include defineSize(100%, 100vh, 0, 0);
    overflow: hidden;
}

.navbar {
    @include defineSize(90%, 12.5vh, auto auto, 0);
    @include gridDisplay(25% 50% 25%, 100%, center, center);
  
    .logo {
      width: 100%;
      @include flexDisplay(row, flex-start, center);
      img {
        height: 5em;
        border-radius: 50%;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .nav-items {
      @include flexDisplay(row, center, center);
  
      .nav-link {
        @include flexDisplay(column, center, center);
        margin: 0 1.5em;
  
        &:hover {
          a,
          i {
            color: $secondary-color;
          }
  
          opacity: 0.85;
          cursor: pointer;
        }
  
        a {
          font-size: 0.98em;
          text-decoration: none;
          color: $tertiary-color;
          font-weight: map-get($map: $font-weights, $key: medium);
        }
  
        i {
          color: $tertiary-color;
          margin-bottom: 0.3em;
        }
      }
    }
  
    .nav-btns {
      @include flexDisplay(row, space-around, center);
      width: 100%;
      @include gridItem(3, 4, 1, 2);
      align-self: center;
  
      a {
        align-self: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $secondary-color;
        font-weight: bold;
        margin: 0;
        padding: 0;
  
        i {
          color: rgba(0, 128, 0, 0.736);
          margin: 0.25em;
        }
      }
  
      form {
        margin: 0;
        padding: 0;
      }
  
      button {
        @include defineSize(auto, auto, 0 1em, 0.75em 0.5em);
        @include buttonDesign(white, $secondary-color, none, 0.25em);
        font-size: 0.98em;
        font-weight: map-get($map: $font-weights, $key: bold);
        outline: none;
        text-decoration: none;
      }
    }
  }

form {
    @include flexDisplay(column, center, center);
    @include defineSize(auto, auto, 0, 2.5em 6em);
    input[type="text"],
    input[type="date"],
    input[type="time"] {
        @include defineSize(25em, 2.75em, 0.75em 0, 0 0.75em);
        border: 0.1em solid rgb(213, 213, 213);
        border-radius: 0.35em;
        font-size: 1em;
        background-color: $input-background;
        outline: none;
    }

    textarea {
        padding: 0.75em;
        background-color: $input-background;
        border: 0.1em solid rgb(213, 213, 213);
        outline: none;
        border-radius: 0.35em;
        font-size: 1em;
    }

    input[type="file"]::file-selector-button {
        @include defineSize(auto, auto, 0.75em 0, 0.5em 1.25em);
        cursor: pointer;
        margin-right: 0.5em;
        @include buttonDesign($input-background, rgba(0, 0, 0, 0.55), 0.1em solid rgba(128, 128, 128, 0.481), 0.35em);
        font-size: 1.1em;
        font-weight: bolder;
        outline: none;
    }

    button {
        @include defineSize(auto, auto, 0.75em 0, 0.5em 2em);
        cursor: pointer;
        margin-right: 0.5em;
        @include buttonDesign($secondary-color, white, none, 0.35em);
        font-size: 1.1em;
        outline: none;
    }
}




