@import "./variables";

html {
    scroll-behavior: smooth;
}

* {
    font-family: $font-type;
}

body {
    @include defineSize(100%, 100vh, 0, 0);
}

.navbar {
    @include defineSize(90%, 12.5vh, auto auto, 0);
    @include gridDisplay(25% 50% 25%, 100%, center, center);

    .logo {
        width: 100%;
        @include flexDisplay(row, flex-start, center);
        img {
            height: 5em;
            border-radius: 50%;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .nav-items {
        @include flexDisplay(row, center, center);

        .nav-link {
            @include flexDisplay(column, center, center);
            margin: 0 1.5em;

            &:hover {
                a,
                i {
                    color: $secondary-color;
                }

                opacity: 0.85;
                cursor: pointer;
            }

            a {
                font-size: 0.98em;
                text-decoration: none;
                color: $tertiary-color;
                font-weight: map-get($map: $font-weights, $key: medium);
            }

            i {
                color: $tertiary-color;
                margin-bottom: 0.3em;
            }
        }
    }
    .nav-btns {
        @include flexDisplay(row, flex-end, center);
        width: 100%;

        a,
        a:active {
            color: $secondary-color;
            text-decoration: none;
            font-weight: bold;

            i {
                margin: 0 0.25em;
            }
        }

        a:first-of-type {
            margin-right: 1.5em;
        }
    }
}

.login-btn {
    i {
        transform: rotateX(360deg);
    }
}

.main-container {
    @include defineSize(100%, 87.5vh, 0, 0);
    position: relative;
    overflow: hidden;

    .background {
        @include positionElement(absolute, 0, 0, 0, 0);
        @include defineSize(100%, 100%, 0, 0);
        background-color: rgba(0, 0, 0, 0.811);
        z-index: 1;
    }

    video {
        @include positionElement(absolute, 0, 0, 0, 0);
        @include defineSize(100%, 100%, 0, 0);
        z-index: -1;
        height: fit-content;
    }

    .redirect {
        color: white;
        text-shadow: 0.5px 0.5px white;
        @include positionElement(absolute, 50%, 50%, 50%, 50%);
        z-index: 2;
        @include flexDisplay(column, center, center);

        h1 {
            font-size: 5rem;
            margin: 0.15em 0;
        }

        p {
            font-size: 1.35rem;
            margin: 0.1em 0;
        }

        a {
            text-decoration: none;
            border: 0.15em solid white;
            color: white;
            font-size: 1.25em;
            padding: 0.5em 1.5em;
            margin: 1.5em 0;
            border-radius: 0.75em;
            letter-spacing: 1.5px;
            font-variant: small-caps;
        }
    }
}

.offer {
    @include defineSize(100%, 100vh, 0, 0);
    @include flexDisplay(column, center, center);

    h1 {
        color: $primary-color;
        margin: 0;
    }

    .offer-section{
        margin: 5em 0;
        width: 90%;
        display: flex;
        justify-content: space-around;

        .card{
            width: auto;
            height:auto;
            box-shadow: .1em .1em .25em grey;
            font-size: 1.75em;
            padding: .5em 1em;
            border-radius: .5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $secondary-color;
        }
    }
}

.news-container {
    @include defineSize(100%, 100vh, 0, 0);
    @include flexDisplay(column, center, center);
    position: relative;
    background-color: rgba(217, 217, 217, 0.397);

    h1 {
        color: $primary-color;
        margin-bottom: 2.5em;
    }

    #more-news {
        text-decoration: none;
        background-color: $secondary-color;
        color: white;
        font-size: 1.1em;
        font-weight: 900;
        padding: 0.75em 1.5em;
        border-radius: 0.5em;
        margin-top: 2.5em;
        transition: hover 0.95s;
    }

    .card-section {
        @include defineSize(80%, auto, 0, 0.5em 1em);
        @include flexDisplay(row, center, center);
    }

    .card {
        width: 25em;
        height: 25em;
        margin: 0 2.75em;
        box-sizing: border-box;
        border-radius: 0.5em;
        overflow: hidden;
        box-shadow: 0.1em 0.1em 2.5em grey, -0.1em -0.1em 2.5em grey;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        img {
            width: 100%;
            height: 45%;
            margin: 0;
        }
        h3 {
            color: $tertiary-color;
        }
        h3,
        p {
            margin: 0.35em 0 0.25em 0.5em;
            margin-left: 0.5em;
        }

        p {
            text-overflow: ellipsis;

            &:first-of-type {
                color: grey;
                font-size: 0.9em;
                font-weight: bold;
            }

            &:last-of-type {
                margin: 0.75em 0.5em;
                color: rgb(11, 11, 11);
                font-weight: 500;
                letter-spacing: 0.75px;
            }
        }
    }

    .fixtures-section {
        @include defineSize(90%, auto, 2em 0, 0.5em 0.75em);
        @include flexDisplay(row, space-around, center);

        .fixture-card {
            width: 15em;
            height: 5em;
            box-shadow: 0.1em 0.1em 0.75em grey, -0.1em -0.1em 0.75em grey;
            border-radius: 0.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                margin: 0.2em 0;
            }

            #title {
                font-weight: bold;
                font-size: 1.1em;
            }

            #date {
                font-size: 0.9em;
                color: gray;
            }
        }
    }
}

.videos-container {
    @include defineSize(100%, 100vh, 0, 5em);
    @include gridDisplay(65% 35%, repeat(3, 32%), start, start);
    position: relative;
    background-color: rgb(240, 240, 240);

    iframe:nth-child(1) {
        @include gridItem(1, 2, 1, 4);
        @include defineSize(100%, 100%, 0, 0);
    }
    iframe:nth-child(2) {
        @include gridItem(2, 3, 1, 2);
        @include defineSize(90%, 90%, 0, 0);
        justify-self: center;
        align-self: start;
    }
    iframe:nth-child(3) {
        @include gridItem(2, 3, 2, 3);
        @include defineSize(90%, 90%, 0, 0);
        justify-self: center;
        align-self: center;
    }
    iframe:nth-child(4) {
        @include gridItem(2, 3, 3, 4);
        @include defineSize(90%, 90%, 0, 0);
        justify-self: center;
        align-self: end;
    }
}

.gallery-section {
    margin: auto auto;
    @include defineSize(100%, 100vh, 0, 10em 5em);
    @include gridDisplay(repeat(3, 32%), repeat(3, 32%), center, center);
    row-gap: 2%;
    column-gap: 2%;

    img {
        @include defineSize(100%, 100%, 0, 0);
        align-self: center;
        justify-self: center;
        transition: transform 1.25s;
        &:hover {
            opacity: 0.85;
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}

.about-us {
    @include defineSize(100%, 65vh, 0, 5em);
}

.contact-us {
    @include defineSize(100%, 15vh, 0, 5em);
    @include flexDisplay(row, space-around, center);
    background-color: $tertiary-color;
    position: relative;

    .social-media {
        @include defineSize(15%, auto, 0, 0.5em 0.75em);
        @include flexDisplay(row, space-around, center);

        i {
            font-size: 1.25em;
            color: $font-color;
            transition: transform 1.25s;

            &:hover {
                color: $secondary-color;
                cursor: pointer;
            }
        }
    }

    .copyright {
        font-size: 1.15em;
        color: $font-color;
    }

    .contact-info {
        @include defineSize(15%, auto, 0, 0.5em 0.75em);
        @include flexDisplay(row, space-around, center);
        font-size: 1.15em;
        color: $font-color;

        i {
            margin-right: 0.75em;
        }
    }
}
