@import './variables';

body{
    @include defineSize(100%, 100vh, 0,0);
}

.container{
    @include defineSize(45%, 60vh, 0,0);
    @include postionElement(50%, 50%, 50%, 50%);
    background-color: $primary-color;
    border-radius: .75em;
    box-shadow: .1em .1em 2.5em grey;
    overflow: hidden;

    .leftsection, .right-section{
       @include defineSize(50%, 100%,0,0)
    }
    .right-section{
        @include flexDisplay(row, space-around, center);   

        form{
            @include flexDisplay(column,center, center);
            @include defineSize(100%, 100%, 0, 0);
            background-color: white;
            
            input{
                @include defineSize(75%, 2.75em, .75em 0, 0 1.75em);
                border: none;
                border-radius:1.75em;
                font-size: 1em;
                background-color: $input-background;
            }
           input:nth-child(3){
            @include defineSize(35%, 2.75em, .75em 0, 0);
            @include buttonDesign($secondary-color, white, none, 1.75em);
            font-weight:map-get($font-weights, medium)
           }

        }
    }

}


body{

}

