@import "./variables";

* {
  font-family: $font-type;
}

body {
  @include defineSize(100%, 100vh, 0, 0);
  overflow-y: scroll;
}

.navbar {
  @include defineSize(90%, 12.5vh, auto auto, 0);
  @include gridDisplay(25% 50% 25%, 100%, center, center);

  .logo {
    width: 100%;
    @include flexDisplay(row, flex-start, center);
    img {
      height: 5em;
      border-radius: 50%;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .nav-items {
    @include flexDisplay(row, center, center);

    .nav-link {
      @include flexDisplay(column, center, center);
      margin: 0 1.5em;

      &:hover {
        a,
        i {
          color: $secondary-color;
        }

        opacity: 0.85;
        cursor: pointer;
      }

      a {
        font-size: 0.98em;
        text-decoration: none;
        color: $tertiary-color;
        font-weight: map-get($map: $font-weights, $key: medium);
      }

      i {
        color: $tertiary-color;
        margin-bottom: 0.3em;
      }
    }
  }

  .nav-btns {
    @include flexDisplay(row, space-around, center);
    width: 100%;
    @include gridItem(3, 4, 1, 2);
    align-self: center;

    a {
      align-self: center;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $secondary-color;
      font-weight: bold;
      margin: 0;
      padding: 0;

      i{
        margin: 0.25em;
      }

      a:first-of-type  {
        i{
          color: rgba(0, 128, 0, 0.736);
        }        
      }

    }

    form {
      margin: 0;
      padding: 0;
    }

    button {
      @include defineSize(auto, auto, 0 1em, 0.75em 0.5em);
      @include buttonDesign(white, $secondary-color, none, 0.25em);
      font-size: 0.98em;
      font-weight: map-get($map: $font-weights, $key: bold);
      outline: none;
      text-decoration: none;
    }
  }
}

.login-btn {
  i {
    transform: rotateX(360deg);
  }
}

.mid-section {
  @include defineSize(80%, auto, auto, 0.75em 0);
  @include flexDisplay(row, space-between, center);

  input[type="search"] {
    @include defineSize(25em, 2.75em, 0.75em 0, 0 1.75em);
    border: none;
    border-radius: 1.75em;
    font-size: 1em;
    background-color: $input-background;
    outline: none;
  }

  form:last-of-type {
    width: auto;
    display: flex;
    align-items: center;

    p,
    i {
      color: grey;
      font-weight: map-get($map: $font-weights, $key: bold);
      margin: 0 0.5em 0 0;
    }
    select {
      @include defineSize(10em, 2.75em, 0.75em 0, 0 0.5em);
      border: 0.1em solid rgb(213, 213, 213);
      border-radius: 0.25em;
      font-size: 1em;
      background-color: $input-background;
      outline: none;
    }
  }
}

.landing-section {
  @include defineSize(100%, auto, 0, 0);
  @include flexDisplay(column, flex-start, center);

  .video-section {
    @include defineSize(80%, auto, 2em 0 0 0, 0.75em);
    @include flexDisplay(column, center, flex-start);

    .heading {
      color: $primary-color;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: space-between;

      a:active,
      a:hover,
      a {
        font-weight: bold;
        color: $primary-color;
      }

      h2 {
        margin: 0 0 0.5em 0;
      }
    }

    .card-section {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
    }

    .video-card {
      @include defineSize(20%, auto, 0, 0);
      border-radius: 0.25em;
      overflow: hidden;
      box-shadow: 0.1em 0.1em 0.75em grey, -0.1em -0.1em 0.75em grey;

      iframe {
        width: 100%;
      }

      p,
      a {
        margin: 0.5em 0 0 0.25em;
      }

      p:first-of-type {
        font-weight: bold;
        font-size: 1.1em;
      }
      p:last-of-type {
        color: grey;
        font-size: 0.9em;
        font-weight: bold;
        margin: 0.15em 0.25em;
      }

      .footer {
        padding: 0.75em 0;

        #view {
          text-decoration: none;
          border: 0.15em solid $secondary-color;
          border-radius: 0.25em;
          padding: 0.25em 0.75em;
          background-color: $secondary-color;
          color: white;
          font-weight: bold;
        }
      }
    }
  }

  .fixture-section {
    @include defineSize(80%, auto, 1.5em 0, 0.75em);
    @include flexDisplay(column, center, flex-start);

    .heading {
      width: 100%;
      color: $primary-color;
      margin: 0;
      padding: 0.75em 0;
      @include flexDisplay(row, space-between, center);

      a:active,
      a:hover,
      a {
        font-weight: bold;
        color: $primary-color;
      }

      h2 {
        margin: 0 0 0.5em 0;
      }
    }
    .card-section {
      width: 100%;
      height: auto;
      @include flexDisplay(row, space-between, center);

      .fixture-card {
        @include defineSize(22.5%, auto, 0, 1.5em 3em);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.25em;
        overflow: hidden;
        border: 0.15em solid grey;

        p:first-of-type {
          font-weight: bold;
          font-size: 1.1em;
          margin: 0;
        }
        p:last-of-type {
          color: grey;
          font-size: 0.9em;
          font-weight: bold;
          margin: 0.2em 0.25em;
        }
      }
    }
  }

  .news-section {
    @include defineSize(80%, auto, 2em 0 0 0, 0.75em);
    @include flexDisplay(column, center, flex-start);

    .heading {
      color: $primary-color;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: space-between;

      a:active,
      a:hover,
      a {
        font-weight: bold;
        color: $primary-color;
      }

      h2 {
        margin: 0 0 0.5em 0;
      }
    }

    .card-section {
      width: 100%;
      height: auto;
      @include flexDisplay(row, space-between, center);

      .news-card {
        @include defineSize(20%, auto, 0, 0 0 2.5em 0);
        border-radius: 0.25em;
        overflow: hidden;
        box-shadow: 0.1em 0.1em 0.75em grey, -0.1em -0.1em 0.75em grey;

        img {
          width: 100%;
          height: 45%;
          margin: 0;
        }

        h3 {
          color: $tertiary-color;
        }
        h3,
        p {
          margin: 0.35em 0 0.25em 0.5em;
          margin-left: 0.5em;
        }

        p {
          text-overflow: ellipsis;

          &:first-of-type {
            color: grey;
            font-size: 0.9em;
            font-weight: bold;
          }

          &:last-of-type {
            margin: 0.75em 0.5em;
            color: rgb(11, 11, 11);
            font-weight: 500;
            letter-spacing: 0.75px;
          }
        }
        .footer {
          padding: 0.75em 0;

          #view {
            text-decoration: none;
            border: 0.15em solid $secondary-color;
            border-radius: 0.25em;
            padding: 0.25em 0.75em;
            background-color: $secondary-color;
            color: white;
            font-weight: bold;
            margin-left: .5em;
          }
        }
      }
    }
  }
}
