@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@all&display=swap");
* {
  font-family: "Rubik", sans-serif;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  box-sizing: border-box;
  width: 90%;
  height: 12.5vh;
  margin: auto auto;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
}
.navbar .logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navbar .logo img {
  height: 5em;
  border-radius: 50%;
}
.navbar .logo:hover {
  cursor: pointer;
}
.navbar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar .nav-items .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.5em;
}
.navbar .nav-items .nav-link:hover {
  opacity: 0.85;
  cursor: pointer;
}
.navbar .nav-items .nav-link:hover a,
.navbar .nav-items .nav-link:hover i {
  color: #16A6F1;
}
.navbar .nav-items .nav-link a {
  font-size: 0.98em;
  text-decoration: none;
  color: #B52666;
  font-weight: 500;
}
.navbar .nav-items .nav-link i {
  color: #B52666;
  margin-bottom: 0.3em;
}
.navbar .nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}
.navbar .nav-btns a {
  align-self: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #16A6F1;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.navbar .nav-btns a i {
  color: rgba(0, 128, 0, 0.736);
  margin: 0.25em;
}
.navbar .nav-btns form {
  margin: 0;
  padding: 0;
}
.navbar .nav-btns button {
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0 1em;
  padding: 0.75em 0.5em;
  background-color: white;
  color: #16A6F1;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 0.98em;
  font-weight: 800;
  outline: none;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 2.5em 6em;
}
form input[type=text],
form input[type=date],
form input[type=time] {
  box-sizing: border-box;
  width: 25em;
  height: 2.75em;
  margin: 0.75em 0;
  padding: 0 0.75em;
  border: 0.1em solid rgb(213, 213, 213);
  border-radius: 0.35em;
  font-size: 1em;
  background-color: rgb(240, 240, 240);
  outline: none;
}
form textarea {
  padding: 0.75em;
  background-color: rgb(240, 240, 240);
  border: 0.1em solid rgb(213, 213, 213);
  outline: none;
  border-radius: 0.35em;
  font-size: 1em;
}
form input[type=file]::-webkit-file-upload-button {
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0.75em 0;
  padding: 0.5em 1.25em;
  cursor: pointer;
  margin-right: 0.5em;
  background-color: rgb(240, 240, 240);
  color: rgba(0, 0, 0, 0.55);
  border: 0.1em solid rgba(128, 128, 128, 0.481);
  border-radius: 0.35em;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bolder;
  outline: none;
}
form input[type=file]::file-selector-button {
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0.75em 0;
  padding: 0.5em 1.25em;
  cursor: pointer;
  margin-right: 0.5em;
  background-color: rgb(240, 240, 240);
  color: rgba(0, 0, 0, 0.55);
  border: 0.1em solid rgba(128, 128, 128, 0.481);
  border-radius: 0.35em;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bolder;
  outline: none;
}
form button {
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0.75em 0;
  padding: 0.5em 2em;
  cursor: pointer;
  margin-right: 0.5em;
  background-color: #16A6F1;
  color: white;
  border: none;
  border-radius: 0.35em;
  cursor: pointer;
  font-size: 1.1em;
  outline: none;
}/*# sourceMappingURL=edit-page.css.map */