@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@all&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Rubik", sans-serif;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  box-sizing: border-box;
  width: 90%;
  height: 12.5vh;
  margin: auto auto;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
}
.navbar .logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navbar .logo img {
  height: 5em;
  border-radius: 50%;
}
.navbar .logo:hover {
  cursor: pointer;
}
.navbar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar .nav-items .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.5em;
}
.navbar .nav-items .nav-link:hover {
  opacity: 0.85;
  cursor: pointer;
}
.navbar .nav-items .nav-link:hover a,
.navbar .nav-items .nav-link:hover i {
  color: #16A6F1;
}
.navbar .nav-items .nav-link a {
  font-size: 0.98em;
  text-decoration: none;
  color: #B52666;
  font-weight: 500;
}
.navbar .nav-items .nav-link i {
  color: #B52666;
  margin-bottom: 0.3em;
}
.navbar .nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.navbar .nav-btns a, .navbar .nav-btns a:active {
  color: #16A6F1;
  text-decoration: none;
  font-weight: bold;
}
.navbar .nav-btns a i, .navbar .nav-btns a:active i {
  margin: 0 0.25em;
}
.navbar .nav-btns a:first-of-type {
  margin-right: 1.5em;
}

.login-btn i {
  transform: rotateX(360deg);
}

.main-container {
  box-sizing: border-box;
  width: 100%;
  height: 87.5vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.main-container .background {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.811);
  z-index: 1;
}
.main-container video {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.main-container .redirect {
  color: white;
  text-shadow: 0.5px 0.5px white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .redirect h1 {
  font-size: 5rem;
  margin: 0.15em 0;
}
.main-container .redirect p {
  font-size: 1.35rem;
  margin: 0.1em 0;
}
.main-container .redirect a {
  text-decoration: none;
  border: 0.15em solid white;
  color: white;
  font-size: 1.25em;
  padding: 0.5em 1.5em;
  margin: 1.5em 0;
  border-radius: 0.75em;
  letter-spacing: 1.5px;
  font-variant: small-caps;
}

.news-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.news-container h1 {
  color: #672BDF;
  margin: 0;
}
.news-container #more-news {
  text-decoration: none;
  background-color: #16A6F1;
  color: white;
  font-size: 1.1em;
  font-weight: 900;
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
  margin-top: 2.5em;
  transition: hover 0.95s;
}
.news-container .card-section {
  box-sizing: border-box;
  width: 80%;
  height: auto;
  margin: 0;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.news-container .card {
  width: 25em;
  height: 25em;
  margin: 0 2.75em;
  box-sizing: border-box;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0.1em 0.1em 2.5em grey, -0.1em -0.1em 2.5em grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.news-container .card img {
  width: 100%;
  height: 45%;
  margin: 0;
}
.news-container .card h3 {
  color: #B52666;
}
.news-container .card h3,
.news-container .card p {
  margin: 0.35em 0 0.25em 0.5em;
  margin-left: 0.5em;
}
.news-container .card p {
  text-overflow: ellipsis;
}
.news-container .card p:first-of-type {
  color: grey;
  font-size: 0.9em;
  font-weight: bold;
}
.news-container .card p:last-of-type {
  margin: 0.75em 0.5em;
  color: rgb(11, 11, 11);
  font-weight: 500;
  letter-spacing: 0.75px;
}
.news-container .fixtures-section {
  box-sizing: border-box;
  width: 90%;
  height: auto;
  margin: 2em 0;
  padding: 0.5em 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.news-container .fixtures-section .fixture-card {
  width: 15em;
  height: 5em;
  box-shadow: 0.1em 0.1em 0.75em grey, -0.1em -0.1em 0.75em grey;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-container .fixtures-section .fixture-card p {
  margin: 0.2em 0;
}
.news-container .fixtures-section .fixture-card #title {
  font-weight: bold;
  font-size: 1.1em;
}
.news-container .fixtures-section .fixture-card #date {
  font-size: 0.9em;
  color: gray;
}

.videos-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 5em;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: repeat(3, 32%);
  justify-items: start;
  align-items: start;
  position: relative;
  background-color: rgb(240, 240, 240);
}
.videos-container iframe:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.videos-container iframe:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: start;
}
.videos-container iframe:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: center;
}
.videos-container iframe:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: end;
}

.gallery-section {
  margin: auto auto;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 10em 5em;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(3, 32%);
  justify-items: center;
  align-items: center;
  row-gap: 2%;
  -moz-column-gap: 2%;
       column-gap: 2%;
}
.gallery-section img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: center;
  transition: transform 1.25s;
}
.gallery-section img:hover {
  opacity: 0.85;
  transform: scale(1.05);
  cursor: pointer;
}

.about-us {
  box-sizing: border-box;
  width: 100%;
  height: 65vh;
  margin: 0;
  padding: 5em;
}

.contact-us {
  box-sizing: border-box;
  width: 100%;
  height: 15vh;
  margin: 0;
  padding: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #B52666;
  position: relative;
}
.contact-us .social-media {
  box-sizing: border-box;
  width: 15%;
  height: auto;
  margin: 0;
  padding: 0.5em 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contact-us .social-media i {
  font-size: 1.25em;
  color: white;
  transition: transform 1.25s;
}
.contact-us .social-media i:hover {
  color: #16A6F1;
  cursor: pointer;
}
.contact-us .copyright {
  font-size: 1.15em;
  color: white;
}
.contact-us .contact-info {
  box-sizing: border-box;
  width: 15%;
  height: auto;
  margin: 0;
  padding: 0.5em 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.15em;
  color: white;
}
.contact-us .contact-info i {
  margin-right: 0.75em;
}/*# sourceMappingURL=index.css.map */