@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@all&display=swap");
* {
  font-family: "Rubik", sans-serif;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  box-sizing: border-box;
  width: 90%;
  height: 12.5vh;
  margin: auto auto;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
}
.navbar .logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navbar .logo img {
  height: 5em;
  border-radius: 50%;
}
.navbar .logo:hover {
  cursor: pointer;
}
.navbar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar .nav-items .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.5em;
}
.navbar .nav-items .nav-link:hover {
  opacity: 0.85;
  cursor: pointer;
}
.navbar .nav-items .nav-link:hover a,
.navbar .nav-items .nav-link:hover i {
  color: #16A6F1;
}
.navbar .nav-items .nav-link a {
  font-size: 0.98em;
  text-decoration: none;
  color: #B52666;
  font-weight: 500;
}
.navbar .nav-items .nav-link i {
  color: #B52666;
  margin-bottom: 0.3em;
}
.navbar .nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.navbar .nav-btns button {
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0 1em;
  padding: 0.75em 0;
  background-color: white;
  color: #16A6F1;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 0.98em;
  font-weight: 800;
  outline: none;
  text-decoration: none;
}

.login-btn i {
  transform: rotateX(360deg);
}

.landing-container {
  box-sizing: border-box;
  width: 90%;
  height: 87.5vh;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 25% 50% 25%;
  justify-items: center;
  align-items: center;
}
.landing-container .image-slider {
  box-sizing: border-box;
  width: 97%;
  height: 95%;
  margin: 0;
  padding: 5em 7.5em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: white;
  border: none;
  border-radius: 0.65em;
  box-shadow: 0.5em 0.5em 1.15em rgb(240, 240, 240), -0.5em -0.5em 1.15em rgb(240, 240, 240);
  position: relative;
  overflow: hidden;
  align-self: start;
  justify-self: start;
}
.landing-container .image-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.75s;
}
.landing-container .image-slider button {
  box-sizing: border-box;
  width: 5em;
  height: 5em;
  margin: 0;
  padding: 0;
  background-color: rgb(85, 85, 85);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0.15em 0.15em 0.65em white, -0.15em -0.15em 0.65em white;
  position: absolute;
  opacity: 0.75;
}
.landing-container .image-slider .previous {
  left: 3.5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.landing-container .image-slider .next {
  right: 3.5%;
  top: 50%;
  transform: translateY(-50%);
}
.landing-container .fixture-section {
  box-sizing: border-box;
  width: 100%;
  height: 97%;
  margin: 0;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  background: rgb(252, 252, 252);
  box-shadow: 0.25em 0.25em 1.75em grey;
  align-self: start;
  justify-self: end;
  border-radius: 0.75em;
  position: relative;
  overflow: hidden;
}
.landing-container .fixture-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  box-sizing: border-box;
  width: 100%;
  height: 0.75em;
  margin: 0;
  padding: 0;
  background-color: #B52666;
}
.landing-container .fixture-section .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 5vh;
  margin: 0;
  padding: 0.25em;
}
.landing-container .fixture-section .fixture-card {
  box-sizing: border-box;
  width: 85%;
  height: auto;
  margin: 0;
  padding: 1.5em 0;
  border-bottom: 0.1em solid black;
}
.landing-container .news-section {
  box-sizing: border-box;
  width: 97%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: start;
}
.landing-container .news-section .news-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  box-sizing: border-box;
  width: 48%;
  height: 75%;
  margin: 0;
  padding: 0 1.5em 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
  box-shadow: 0.15em 0.15em 3em grey;
  border: none;
  border-radius: 1.15em;
  overflow: hidden;
}
.landing-container .news-section .news-card img {
  box-sizing: border-box;
  width: 43%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.landing-container .news-section .news-card .news-content {
  box-sizing: border-box;
  box-sizing: border-box;
  width: 53%;
  height: 100%;
  margin: 0;
  padding: 0.45em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.landing-container .news-section .news-card .news-content p {
  margin: 0.15em 0;
}
.landing-container .news-section .news-card .news-content p:nth-child(1) {
  font-weight: 800;
  color: #672BDF;
}
.landing-container .news-section .news-card .news-content p:nth-child(2) {
  font-size: 0.75em;
  color: grey;
  font-weight: 800;
}
.landing-container .news-section .news-card .news-content p:nth-child(3) {
  font-weight: 800;
  color: #B52666;
  text-align: justify;
}

.news-container {
  box-sizing: border-box;
  width: 100%;
  height: 60vh;
  margin: 15em 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #16A6F1;
}
.news-container .more {
  position: absolute;
  right: 3.5%;
  top: 4.5%;
  box-sizing: border-box;
  width: 3.5em;
  height: 3.5em;
  margin: 0;
  padding: 0;
  font-size: 1.25em;
  background-color: #672BDF;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0.1em 0.1em 0.25em white;
}
.news-container .card {
  box-sizing: border-box;
  width: 20%;
  height: 65%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0.1em 0.1em 0.5em grey;
  border-radius: 1em;
  margin: 0 2.75em 0 0;
  overflow: hidden;
}
.news-container .card img {
  width: 100%;
  height: 55%;
}
.news-container .card p,
.news-container .card h4 {
  margin: 0.15em 0.35em;
}
.news-container .card p:nth-child(1) {
  color: grey;
  opacity: 0.75;
}

.videos-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 5em;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: repeat(3, 32%);
  justify-items: start;
  align-items: start;
  position: relative;
  background-color: rgb(240, 240, 240);
}
.videos-container iframe:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.videos-container iframe:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: start;
}
.videos-container iframe:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: center;
}
.videos-container iframe:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: end;
}

.gallery-section {
  margin: auto auto;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 10em 5em;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(3, 32%);
  justify-items: center;
  align-items: center;
  row-gap: 2%;
  -moz-column-gap: 2%;
       column-gap: 2%;
}
.gallery-section img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: center;
  transition: transform 1.25s;
}
.gallery-section img:hover {
  opacity: 0.85;
  transform: scale(1.05);
  cursor: pointer;
}

.about-us {
  box-sizing: border-box;
  width: 100%;
  height: 65vh;
  margin: 0;
  padding: 5em;
}

.contact-us {
  box-sizing: border-box;
  width: 100%;
  height: 15vh;
  margin: 0;
  padding: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #B52666;
  position: relative;
}
.contact-us .social-media {
  box-sizing: border-box;
  width: 15%;
  height: auto;
  margin: 0;
  padding: 0.5em 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contact-us .social-media i {
  font-size: 1.25em;
  color: white;
  transition: transform 1.25s;
}
.contact-us .social-media i:hover {
  color: #16A6F1;
  cursor: pointer;
}
.contact-us .copyright {
  font-size: 1.15em;
  color: white;
}
.contact-us .contact-info {
  box-sizing: border-box;
  width: 15%;
  height: auto;
  margin: 0;
  padding: 0.5em 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.15em;
  color: white;
}
.contact-us .contact-info i {
  margin-right: 0.75em;
}/*# sourceMappingURL=index.css.map */