@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@all&display=swap");
* {
  font-family: "Rubik", sans-serif;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  box-sizing: border-box;
  width: 90%;
  height: 12.5vh;
  margin: auto auto;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
}
.navbar .logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navbar .logo img {
  height: 5em;
  border-radius: 50%;
}
.navbar .logo:hover {
  cursor: pointer;
}
.navbar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar .nav-items .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.5em;
}
.navbar .nav-items .nav-link:hover {
  opacity: 0.85;
  cursor: pointer;
}
.navbar .nav-items .nav-link:hover a,
.navbar .nav-items .nav-link:hover i {
  color: #16A6F1;
}
.navbar .nav-items .nav-link a {
  font-size: 0.98em;
  text-decoration: none;
  color: #B52666;
  font-weight: 500;
}
.navbar .nav-items .nav-link i {
  color: #B52666;
  margin-bottom: 0.3em;
}
.navbar .nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.navbar .nav-btns a:first-of-type {
  margin-right: 2.5em;
  font-size: 1.1em;
}
.navbar .nav-btns a:first-of-type i {
  color: rgba(0, 128, 0, 0.736);
}
.navbar .nav-btns a {
  align-self: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #16A6F1;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.navbar .nav-btns a:first-of-type i {
  margin: 0.25em;
}
.navbar .nav-btns a:last-of-type i {
  color: #16A6F1;
}
.navbar .nav-btns form {
  margin: 0;
  padding: 0;
}

.login-btn i {
  transform: rotateX(360deg);
}

.main-section {
  box-sizing: border-box;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.main-section .video-section {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26em, 30em));
  grid-template-rows: repeat(auto-fit, minmax(25em, 30em));
  -moz-column-gap: 2.5em;
       column-gap: 2.5em;
  row-gap: 2.5em;
}
.main-section .video-section .video-card {
  box-sizing: border-box;
  width: 20em;
  height: 20em;
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
  overflow: hidden;
  box-shadow: 0.1em 0.1em 0.75em grey, -0.1em -0.1em 0.75em grey;
}
.main-section .video-section .video-card iframe {
  width: 100% !important;
  width: 20em !important;
}
.main-section .video-section .video-card p,
.main-section .video-section .video-card a {
  margin: 0.5em 0 0 0.25em;
}
.main-section .video-section .video-card p:first-of-type {
  font-weight: bold;
  font-size: 1.1em;
}
.main-section .video-section .video-card p:last-of-type {
  color: grey;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0.15em 0.25em;
}
.main-section .video-section .video-card .footer {
  padding: 0.75em 0;
}
.main-section .video-section .video-card .footer #view {
  text-decoration: none;
  border: 0.15em solid #16A6F1;
  border-radius: 0.25em;
  padding: 0.25em 0.75em;
  background-color: #16A6F1;
  color: white;
  font-weight: bold;
}/*# sourceMappingURL=video.css.map */